body {
    background: #272121;
}
.wrapper {
    text-align: center;
    color:white;
    font-weight: bold;
    width: 100px;
    border-style: solid;
    border-color: white;
}
.btn {
    cursor: pointer;
}